// SPDX-License-Identifier: (GPL-2.0+ OR X11)
/*
 * Copyright 2018 Icenowy Zheng <icenowy@aosc.io>
 */

/dts-v1/;
#include "suniv-f1c100s.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Lichee Pi Nano";
	compatible = "licheepi,licheepi-nano", "allwinner,suniv-f1c100s";

	aliases {
		mmc0 = &mmc0;
		serial0 = &uart0;
		serial2 = &uart2;
		spi0 = &spi0;
		spi1 = &spi1;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	reg_vcc3v3: vcc3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

        leds: gpio-leds {
               compatible = "gpio-leds";
               pinctrl-names = "default";
               status = "okay";

               led@1 {
                    gpios = <&pio 3 0 GPIO_ACTIVE_LOW>; /* PD0 */
                    label = "status_led";
                    lnux,default-trigger = "heartbeat";
                    linux,default-trigger-delay-ms = <0>;
               };  
    };  

};

&mmc0 {
	broken-cd;
	bus-width = <4>;
	disable-wp;
	status = "okay";
	vmmc-supply = <&reg_vcc3v3>;
};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_pc_pins>;
	status = "okay";
	spi-max-frequency = <50000000>;

/*
	flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "winbond,w25q128", "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <50000000>;
	};
*/
    spi-nand@0 {
        #address-cells = <1>;
        #size-cells = <1>;
        compatible = "spi-nand";
        reg = <0>;
        spi-max-frequency = <50000000>;
    };
};

&spi1 {
	pinctrl-names = "default";
        pinctrl-0 = <&spi1_pa_pins>;
        status = "okay";
        spi-max-frequency = <50000000>;

        uc8253: uc8253@0 {
                #address-cells = <1>;
                #size-cells = <1>;
                compatible = "ultrachip,uc8253";
                reg = <0>;
                spi-max-frequency = <10000000>;
                buswidth = <8>;
                xres = <256>;
                yres = <256>;
                spi-cpol;
                spi-cpha;
                reset-gpios = <&pio 4 10 GPIO_ACTIVE_HIGH>;
                dc-gpios = <&pio 4 9 GPIO_ACTIVE_LOW>;
                debug = <1>;
                status = "okay";
        };
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pe_pins>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart2_pe_pins>;
	status = "okay";
};

&otg_sram {
    status = "okay";
};

&usb_otg {
    dr_mode = "otg";
    status = "okay";
};

&usbphy {
    usb0_id_det-gpio = <&pio 4 2 GPIO_ACTIVE_HIGH>; /* PE2 */
    status = "okay";
};
